body {
    margin:0;
    font-family: monospace;
    
}
nav { 
    background-color:green;
    width:100%;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: gray 10px solid;

}

a { color:orange;
    font-size: large;

}